h1 {
    display: block;
    text-align: center;
    font-size: 45px;
}

h3 {
    display: block;
    text-align: center;
    font-size: 30px;
}

p {
    display: block;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

body {
    display: grid;
	grid-template-columns: repeat(18, 500px);
	grid-template-rows: repeat(24, 50px);
	background-color: #ffffff;
}

.name {
    position: absolute;
	top: 100px;
	left: 520px;
	font-size: 36px;
}

#element1 {
    position: absolute;
    top: 100px;
    left: 120px; 
}

#element2 {
    position: absolute;
    top: 100px;
    left: 1920px; 
}

#element3 {
    position: absolute;
    top: 200px;
    left: 120px;
}

#element4 {
    position: absolute;
    top: 200px;
    left: 220px;
}

#element5 {
    position: absolute;
    top: 200px;
    left: 1420px;
}

#element6 {
    position: absolute;
    top: 200px;
    left: 1520px;
}

#element7 {
    position: absolute;
    top: 200px;
    left: 1620px;
}

#element8 {
    position: absolute;
    top: 200px;
    left: 1720px;
}

#element9 {
    position: absolute;
    top: 200px;
    left: 1820px;
}

#element10 {
    position: absolute;
    top: 200px;
    left: 1920px;
}

#element11 {
    position: absolute;
    top: 300px;
    left: 120px;
}

#element12 {
    position: absolute;
    top: 300px;
    left: 220px;
}

#element13 {
    position: absolute;
    top: 300px;
    left: 1420px;
}

#element14 {
    position: absolute;
    top: 300px;
    left: 1520px;
}

#element15 {
    position: absolute;
    top: 300px;
    left: 1620px;
}

#element16 {
    position: absolute;
    top: 300px;
    left: 1720px;
}

#element17 {
    position: absolute;
    top: 300px;
    left: 1820px;
}

#element18 {
    position: absolute;
    top: 300px;
    left: 1920px;
}

#element19 {
    position: absolute;
    top: 400px;
    left: 120px;
}

#element20 {
    position: absolute;
    top: 400px;
    left: 220px;
}

#element21 {
    position: absolute;
    top: 400px;
    left: 320px;
}

#element22 {
    position: absolute;
    top: 400px;
    left: 520px;
}

#element23 {
    position: absolute;
    top: 400px;
    left: 620px;
}

#element24 {
    position: absolute;
    top: 400px;
    left: 720px;
}

#element25 {
    position: absolute;
    top: 400px;
    left: 820px;
}

#element26 {
    position: absolute;
    top: 400px;
    left: 920px;
}

#element27 {
    position: absolute;
    top: 400px;
    left: 1020px;
}

#element28 {
    position: absolute;
    top: 400px;
    left: 1120px;
}

#element29 {
    position: absolute;
    top: 400px;
    left: 1220px;
}

#element30 {
    position: absolute;
    top: 400px;
    left: 1320px;
}

#element31 {
    position: absolute;
    top: 400px;
    left: 1420px;
}

#element32 {
    position: absolute;
    top: 400px;
    left: 1520px;
}

#element33 {
    position: absolute;
    top: 400px;
    left: 1620px;
}

#element34 {
    position: absolute;
    top: 400px;
    left: 1720px;
}

#element35 {
    position: absolute;
    top: 400px;
    left: 1820px;
}

#element36 {
    position: absolute;
    top: 400px;
    left: 1920px;
}

#element37 {
    position: absolute;
    top: 500px;
    left: 120px;
}

#element38 {
    position: absolute;
    top: 500px;
    left: 220px;
}

#element39 {
    position: absolute;
    top: 500px;
    left: 320px;
}

#element40 {
    position: absolute;
    top: 500px;
    left: 520px;
}

#element41 {
    position: absolute;
    top: 500px;
    left: 620px;
}

#element42 {
    position: absolute;
    top: 500px;
    left: 720px;
}

#element43 {
    position: absolute;
    top: 500px;
    left: 820px;
}

#element44 {
    position: absolute;
    top: 500px;
    left: 920px;
}

#element45 {
    position: absolute;
    top: 500px;
    left: 1020px;
}

#element46 {
    position: absolute;
    top: 500px;
    left: 1120px;
}

#element47 {
    position: absolute;
    top: 500px;
    left: 1220px;
}

#element48 {
    position: absolute;
    top: 500px;
    left: 1320px;
}

#element49 {
    position: absolute;
    top: 500px;
    left: 1420px;
}

#element50 {
    position: absolute;
    top: 500px;
    left: 1520px;
}

#element51 {
    position: absolute;
    top: 500px;
    left: 1620px;
}

#element52 {
    position: absolute;
    top: 500px;
    left: 1720px;
}

#element53 {
    position: absolute;
    top: 500px;
    left: 1820px;
}

#element54 {
    position: absolute;
    top: 500px;
    left: 1920px;
}

#element55 {
    position: absolute;
    top: 600px;
    left: 120px;
}

#element56 {
    position: absolute;
    top: 600px;
    left: 220px;
}

#element57 {
    position: absolute;
    top: 600px;
    left: 320px;
}

#element58 {
    position: absolute;
    top: 900px;
    left: 520px;
}

#element59 {
    position: absolute;
    top: 900px;
    left: 620px;
}

#element60 {
    position: absolute;
    top: 900px;
    left: 720px;
}

#element61 {
    position: absolute;
    top: 900px;
    left: 820px;
}

#element62 {
    position: absolute;
    top: 900px;
    left: 920px;
}

#element63 {
    position: absolute;
    top: 900px;
    left: 1020px;
}

#element64 {
    position: absolute;
    top: 900px;
    left: 1120px;
}

#element65 {
    position: absolute;
    top: 900px;
    left: 1220px;
}

#element66 {
    position: absolute;
    top: 900px;
    left: 1320px;
}

#element67 {
    position: absolute;
    top: 900px;
    left: 1420px;
}

#element68 {
    position: absolute;
    top: 900px;
    left: 1520px;
}

#element69 {
    position: absolute;
    top: 900px;
    left: 1620px;
}

#element70 {
    position: absolute;
    top: 900px;
    left: 1720px;
}

#element71 {
    position: absolute;
    top: 900px;
    left: 1820px;
}

#element72 {
    position: absolute;
    top: 600px;
    left: 520px;
}

#element73 {
    position: absolute;
    top: 600px;
    left: 620px;
}

#element74 {
    position: absolute;
    top: 600px;
    left: 720px;
}

#element75 {
    position: absolute;
    top: 600px;
    left: 820px;
}

#element76 {
    position: absolute;
    top: 600px;
    left: 920px;
}

#element77 {
    position: absolute;
    top: 600px;
    left: 1020px;
}

#element78 {
    position: absolute;
    top: 600px;
    left: 1120px;
}

#element79 {
    position: absolute;
    top: 600px;
    left: 1220px;
}

#element80 {
    position: absolute;
    top: 600px;
    left: 1320px;
}

#element81 {
    position: absolute;
    top: 600px;
    left: 1420px;
}

#element82 {
    position: absolute;
    top: 600px;
    left: 1520px;
}

#element83 {
    position: absolute;
    top: 600px;
    left: 1620px;
}

#element84 {
    position: absolute;
    top: 600px;
    left: 1720px;
}

#element85 {
    position: absolute;
    top: 600px;
    left: 1820px;
}

#element86 {
    position: absolute;
    top: 600px;
    left: 1920px;
}

#element87 {
    position: absolute;
    top: 700px;
    left: 120px;
}

#element88 {
    position: absolute;
    top: 700px;
    left: 220px;
}

#element89 {
    position: absolute;
    top: 700px;
    left: 320px;
}

#element90 {
    position: absolute;
    top: 1000px;
    left: 520px;
}

#element91 {
    position: absolute;
    top: 1000px;
    left: 620px;
}

#element92 {
    position: absolute;
    top: 1000px;
    left: 720px;
}

#element93 {
    position: absolute;
    top: 1000px;
    left: 820px;
}

#element94 {
    position: absolute;
    top: 1000px;
    left: 920px;
}

#element95 {
    position: absolute;
    top: 1000px;
    left: 1020px;
}

#element96 {
    position: absolute;
    top: 1000px;
    left: 1120px;
}

#element97 {
    position: absolute;
    top: 1000px;
    left: 1220px;
}

#element98 {
    position: absolute;
    top: 1000px;
    left: 1320px;
}

#element99 {
    position: absolute;
    top: 1000px;
    left: 1420px;
}

#element100 {
    position: absolute;
    top: 1000px;
    left: 1520px;
}

#element101 {
    position: absolute;
    top: 1000px;
    left: 1620px;
}

#element102 {
    position: absolute;
    top: 1000px;
    left: 1720px;
}

#element103 {
    position: absolute;
    top: 1000px;
    left: 1820px;
}

#element104 {
    position: absolute;
    top: 700px;
    left: 520px;
}

#element105 {
    position: absolute;
    top: 700px;
    left: 620px;
}

#element106 {
    position: absolute;
    top: 700px;
    left: 720px;
}

#element107 {
    position: absolute;
    top: 700px;
    left: 820px;
}

#element108 {
    position: absolute;
    top: 700px;
    left: 920px;
}

#element109 {
    position: absolute;
    top: 700px;
    left: 1020px;
}

#element110 {
    position: absolute;
    top: 700px;
    left: 1120px;
}

#element111 {
    position: absolute;
    top: 700px;
    left: 1220px;
}

#element112 {
    position: absolute;
    top: 700px;
    left: 1320px;
}

#element113 {
    position: absolute;
    top: 700px;
    left: 1420px;
}

#element114 {
    position: absolute;
    top: 700px;
    left: 1520px;
}

#element115 {
    position: absolute;
    top: 700px;
    left: 1620px;
}

#element116 {
    position: absolute;
    top: 700px;
    left: 1720px;
}

#element117 {
    position: absolute;
    top: 700px;
    left: 1820px;
}

#element118 {
    position: absolute;
    top: 700px;
    left: 1920px;
}

#element119 {
    position: absolute;
    top: px;
    left: px;
}


